body{
    background-color: black
}

.body{
    float: right;
    margin-left: 100px;
    margin-top: 100px;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    color: white;
   
}


.header{
    color: white;
}



li{
    list-style-type: none;
    float: right;
    margin: 0 15px;
    border-radius: 50px;
    padding: 5px;
}

li:hover{
    color: red;
    font-size: larger;
    position: static;

}

p{
    font-size: 20px;
    width: 40%;
   font-family:'Times New Roman', Times, serif

   
}

h1{
    margin: 5px 0 ;
    font-weight: bold;
    font-size: 80px;
}
.pogi{
    color: red;
}
